<div class="form-container">
  <h1 class="page-title"><%= t(".title") %></h1>

  <div class="flex flex-col">
    <div class="order-2 md:order-1">
      <%= render 'devise/shared/google_auth_button', text: "signup_with" %>
    </div>
    <div class="order-1 md:order-2">
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class: "space-y-4" do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-inner">
          <%= f.label :name, class: "form-label" do %>
            <span class="w-1 h-3 bg-primary"></span>
            <%= User.human_attribute_name(:name) %>
          <% end %>
          <%= f.text_field :name,
            autofocus: true,
            autocomplete: "name",
            class: class_names("form-input", "border-error": resource.errors[:name].any?)
          %>
        </div>

        <div class="form-inner">
          <%= f.label :email, class: "form-label" do %>
            <span class="w-1 h-3 bg-primary"></span>
            <%= User.human_attribute_name(:email) %>
          <% end %>
          <%= f.email_field :email,
            autocomplete: "email",
            class: class_names("form-input", "border-error": resource.errors[:email].any?)
          %>
        </div>

        <div class="form-inner">
          <%= f.label :password, class: "form-label" do %>
            <span class="w-1 h-3 bg-primary"></span>
            <%= User.human_attribute_name(:password) %>
          <% end %>
          <%= f.password_field :password,
            autocomplete: "new-password",
            class: class_names("form-input", "border-error": resource.errors[:password].any?)
          %>
          <% if @minimum_password_length %>
            <p class="form-annotation"><%= t("devise.shared.minimum_password", length: @minimum_password_length) %></p>
          <% end %>
        </div>

        <div class="form-inner">
          <%= f.label :password_confirmation, class: "form-label" do %>
            <span class="w-1 h-3 bg-primary"></span>
            <%= User.human_attribute_name(:password_confirmation) %>
          <% end %>
          <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            class: class_names("form-input", "border-error": resource.errors[:password_confirmation].any?)
          %>
          <% if @minimum_password_length %>
            <p class="form-annotation">
              <%= t("devise.shared.minimum_password", length: @minimum_password_length) %>
            </p>
          <% end %>
        </div>

        <%= f.submit t(".sign_up"), class: "form-submit-button" %>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>