<% 
  # 進行中の試合を取得
  ongoing_match = @room.matches.find_by(status: :ongoing)
  # 試合が存在し、かつplayer_2が既に参加していれば「対戦中」と判定
  is_playing = ongoing_match.present? && ongoing_match.player_2_id.present? 
  # 現在のユーザーがホストかどうかを判定
  is_p1 = (current_user.id == @room.owner_id)

  p1_order = is_p1 ? "order-3" : "order-1"
  p2_order = is_p1 ? "order-1" : "order-3"

  p1_border_class = is_p1 ? "border-primary" : "border-accent"
  p1_text_class   = is_p1 ? "text-primary"   : "text-accent"

  p2_border_class = is_p1 ? "border-accent"  : "border-primary"
  p2_text_class   = is_p1 ? "text-accent"    : "text-primary"
%>

<div 
  data-controller="room"
  data-room-token-value="<%= @room.token %>"
  data-room-is-p1-value="<%= is_p1 %>"
  data-guard-cooldown-value="<%= @room.guard_cooldown_turns %>"
  >

  <%# 待機画面（対戦開始前は表示して、再接続時は非表示） %>
  <div data-room-target="waiting" class="<%= 'hidden' if is_playing %>">
    <%= render 'waiting_room' %>
  </div>

  <%# 対戦開始演出画面（初期は常に非表示） %>
  <div data-room-target="matchStartEffect" class="hidden">
    <%# 【修正】色名ではなく、定義したクラス名を渡す %>
    <%= render 'match_start_effect', 
          p1_order: p1_order, p2_order: p2_order, 
          p1_border_class: p1_border_class, p1_text_class: p1_text_class, 
          p2_border_class: p2_border_class, p2_text_class: p2_text_class
    %>
  </div>

  <%# 対戦画面（初期は非表示で、再接続時は最初から表示する） %>
  <div data-room-target="battleBoard" class="<%= 'hidden' unless is_playing %>">
    <%= render 'battle_board',
          p1_order: p1_order, p2_order: p2_order,
          p1_border_class: p1_border_class, p1_text_class: p1_text_class, 
          p2_border_class: p2_border_class, p2_text_class: p2_text_class
    %>
  </div>

  <%# 手の選択結果演出画面（初期は常に非表示） %>
  <div data-room-target="turnResultEffect" class="hidden">
    <%= render 'turn_result_effect' %>
  </div>

</div>
